/* Header.module.css */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #333333;
    color: #ffffff;
    margin-block-end: 10px;
  }
  
  .header h1 {
    font-size: 24px;
  }
  
  .header nav {
    display: flex;
    align-items: center;
  }
  
  .header nav ul {
    display: flex; 
    list-style: none;
  }
  
  .header nav li {
    margin-inline-end: 10px;
  }
  
  .header nav a {
    color: #ffffff;
    text-decoration: none;
  }
  
  .header nav a:hover {
    text-decoration: underline;
  }